-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: Payroll_DB
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `Payroll_DB`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `payroll_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `Payroll_DB`;

--
-- Table structure for table `admin_staff`
--

DROP TABLE IF EXISTS `admin_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_staff` (
  `adminstaff_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fingerprint_id` varchar(50) DEFAULT NULL,
  `firstname` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `middlename` varchar(50) DEFAULT NULL,
  `gender` varchar(50) DEFAULT NULL,
  `age` int(10) unsigned DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `address` varchar(50) DEFAULT NULL,
  `email_address` varchar(50) DEFAULT NULL,
  `civil_status` varchar(20) DEFAULT NULL,
  `dependent_number` int(10) unsigned NOT NULL DEFAULT 0,
  `employment_status` varchar(50) NOT NULL DEFAULT 'Active',
  `employee_type` varchar(20) DEFAULT NULL,
  `date_hired` date DEFAULT NULL,
  `department` varchar(50) DEFAULT NULL,
  `office_hours` decimal(2,1) DEFAULT NULL,
  `rate_per_hour` decimal(10,2) DEFAULT NULL,
  `sss_id` varchar(50) DEFAULT NULL,
  `philhealth_id` varchar(50) DEFAULT NULL,
  `pagibig_id` varchar(50) DEFAULT NULL,
  `tin_id` varchar(50) DEFAULT NULL,
  `position` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`adminstaff_id`),
  UNIQUE KEY `uq_adminstaff_fingerprint` (`fingerprint_id`),
  UNIQUE KEY `uq_adminstaff_email` (`email_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_staff`
--

LOCK TABLES `admin_staff` WRITE;
/*!40000 ALTER TABLE `admin_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bir_tax_bracket`
--

DROP TABLE IF EXISTS `bir_tax_bracket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bir_tax_bracket` (
  `bracket_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `effective_year` year(4) NOT NULL,
  `salary_min` decimal(10,2) NOT NULL,
  `salary_max` decimal(10,2) DEFAULT NULL COMMENT 'NULL = open-ended top bracket',
  `base_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `rate_percent` decimal(5,2) NOT NULL,
  PRIMARY KEY (`bracket_id`),
  UNIQUE KEY `uq_bir_year_min` (`effective_year`,`salary_min`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bir_tax_bracket`
--

LOCK TABLES `bir_tax_bracket` WRITE;
/*!40000 ALTER TABLE `bir_tax_bracket` DISABLE KEYS */;
/*!40000 ALTER TABLE `bir_tax_bracket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_time_record`
--

DROP TABLE IF EXISTS `daily_time_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_time_record` (
  `dtr_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fingerprint_id` varchar(50) DEFAULT NULL COMMENT 'Raw biometric scan reference captured at log time',
  `device_id` int(10) unsigned NOT NULL,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `record_date` date NOT NULL,
  `time_in` time DEFAULT NULL,
  `time_out` time DEFAULT NULL,
  `number_of_holidays` int(10) unsigned NOT NULL DEFAULT 0,
  `status` varchar(20) NOT NULL DEFAULT 'Present' COMMENT 'Present, Late, Absent, Leave',
  `is_manual_entry` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`dtr_id`),
  KEY `idx_dtr_device` (`device_id`),
  KEY `idx_dtr_faculty_date` (`faculty_id`,`record_date`),
  KEY `idx_dtr_adminstaff_date` (`adminstaff_id`,`record_date`),
  CONSTRAINT `fk_dtr_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dtr_device` FOREIGN KEY (`device_id`) REFERENCES `device` (`device_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_dtr_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_dtr_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_time_record`
--

LOCK TABLES `daily_time_record` WRITE;
/*!40000 ALTER TABLE `daily_time_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_time_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `deduction`
--

DROP TABLE IF EXISTS `deduction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `deduction` (
  `deduction_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `payroll_id` int(10) unsigned NOT NULL,
  `deduction_type` varchar(50) NOT NULL COMMENT 'SSS, PhilHealth, Pagibig, Tax, Loan, etc.',
  `amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`deduction_id`),
  KEY `idx_deduction_faculty` (`faculty_id`),
  KEY `idx_deduction_adminstaff` (`adminstaff_id`),
  KEY `idx_deduction_payroll` (`payroll_id`),
  CONSTRAINT `fk_deduction_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_deduction_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_deduction_payroll` FOREIGN KEY (`payroll_id`) REFERENCES `payroll` (`payroll_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_deduction_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `deduction`
--

LOCK TABLES `deduction` WRITE;
/*!40000 ALTER TABLE `deduction` DISABLE KEYS */;
/*!40000 ALTER TABLE `deduction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `device`
--

DROP TABLE IF EXISTS `device`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device` (
  `device_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `device_name` varchar(50) NOT NULL,
  `location` varchar(50) DEFAULT NULL,
  `ip_address` varchar(50) DEFAULT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `date_added` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`device_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `device`
--

LOCK TABLES `device` WRITE;
/*!40000 ALTER TABLE `device` DISABLE KEYS */;
/*!40000 ALTER TABLE `device` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_rate`
--

DROP TABLE IF EXISTS `employee_rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_rate` (
  `rate_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `rate_type` varchar(20) NOT NULL COMMENT 'e.g. Per Unit, Per Hour',
  `amount` decimal(10,2) NOT NULL,
  `effective_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`rate_id`),
  KEY `idx_rate_faculty` (`faculty_id`),
  KEY `idx_rate_adminstaff` (`adminstaff_id`),
  CONSTRAINT `fk_rate_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rate_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_rate_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_rate`
--

LOCK TABLES `employee_rate` WRITE;
/*!40000 ALTER TABLE `employee_rate` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_rate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_staff`
--

DROP TABLE IF EXISTS `faculty_staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `faculty_staff` (
  `faculty_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `fingerprint_id` varchar(50) DEFAULT NULL,
  `firstname` varchar(50) NOT NULL,
  `lastname` varchar(50) NOT NULL,
  `middlename` varchar(50) DEFAULT NULL,
  `gender` varchar(50) DEFAULT NULL,
  `age` int(10) unsigned DEFAULT NULL,
  `birthdate` date DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `address` varchar(50) DEFAULT NULL,
  `email_address` varchar(50) DEFAULT NULL,
  `civil_status` varchar(20) DEFAULT NULL,
  `dependent_number` int(10) unsigned NOT NULL DEFAULT 0,
  `employment_status` varchar(50) NOT NULL DEFAULT 'Active',
  `employee_type` varchar(20) DEFAULT NULL,
  `date_hired` date DEFAULT NULL,
  `load_units` int(10) unsigned DEFAULT NULL,
  `lecture_hours` decimal(2,1) DEFAULT NULL,
  `rate_per_hour_unit` decimal(10,2) DEFAULT NULL,
  `sss_id` varchar(50) DEFAULT NULL,
  `philhealth_id` varchar(50) DEFAULT NULL,
  `pagibig_id` varchar(50) DEFAULT NULL,
  `tin_id` varchar(50) DEFAULT NULL,
  `instructor_rank` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`faculty_id`),
  UNIQUE KEY `uq_faculty_fingerprint` (`fingerprint_id`),
  UNIQUE KEY `uq_faculty_email` (`email_address`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_staff`
--

LOCK TABLES `faculty_staff` WRITE;
/*!40000 ALTER TABLE `faculty_staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_category`
--

DROP TABLE IF EXISTS `leave_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_category` (
  `leave_category_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `category_name` varchar(50) NOT NULL,
  `is_paid` tinyint(1) NOT NULL DEFAULT 1,
  `max_days` int(10) unsigned NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`leave_category_id`),
  UNIQUE KEY `uq_leave_category_name` (`category_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_category`
--

LOCK TABLES `leave_category` WRITE;
/*!40000 ALTER TABLE `leave_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_record`
--

DROP TABLE IF EXISTS `leave_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_record` (
  `leave_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `leave_category` varchar(50) NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'Pending' COMMENT 'Pending, Approved, Rejected, Cancelled',
  `date_requested` datetime NOT NULL DEFAULT current_timestamp(),
  `date_approved` datetime DEFAULT NULL,
  `approved_by` varchar(50) DEFAULT NULL,
  `date_from` date NOT NULL,
  `date_to` date NOT NULL,
  `remarks` varchar(50) DEFAULT NULL,
  `total_days` int(10) unsigned DEFAULT NULL,
  `total_leave_credit` int(10) unsigned DEFAULT NULL,
  `used_leave` int(10) unsigned DEFAULT NULL,
  `remaining_leave` int(11) DEFAULT NULL,
  PRIMARY KEY (`leave_id`),
  KEY `idx_leave_faculty` (`faculty_id`),
  KEY `idx_leave_adminstaff` (`adminstaff_id`),
  CONSTRAINT `fk_leave_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_leave_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_leave_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_record`
--

LOCK TABLES `leave_record` WRITE;
/*!40000 ALTER TABLE `leave_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan`
--

DROP TABLE IF EXISTS `loan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loan` (
  `loan_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `loan_type` varchar(50) NOT NULL COMMENT 'SSS Loan, Pag-IBIG Loan, Personal/Institutional Loan',
  `loan_amount` decimal(10,2) NOT NULL,
  `term_months` int(10) unsigned DEFAULT NULL,
  `monthly_deduction` decimal(10,2) DEFAULT NULL,
  `remaining_balance` decimal(10,2) DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'Pending' COMMENT 'Pending, Approved, Rejected, Fully Paid',
  `remarks` varchar(255) DEFAULT NULL,
  `date_filed` date DEFAULT NULL,
  `date_from` date DEFAULT NULL,
  `date_to` date DEFAULT NULL,
  PRIMARY KEY (`loan_id`),
  KEY `idx_loan_faculty` (`faculty_id`),
  KEY `idx_loan_adminstaff` (`adminstaff_id`),
  CONSTRAINT `fk_loan_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_loan_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_loan_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan`
--

LOCK TABLES `loan` WRITE;
/*!40000 ALTER TABLE `loan` DISABLE KEYS */;
/*!40000 ALTER TABLE `loan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_audit_log`
--

DROP TABLE IF EXISTS `maintenance_audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_audit_log` (
  `audit_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `performed_by` varchar(100) DEFAULT NULL COMMENT 'Fallback display name if user_id is not linked',
  `section` varchar(50) NOT NULL COMMENT 'Employee Rates, Leave Categories, BIR Table, etc.',
  `action` varchar(50) NOT NULL COMMENT 'Added, Updated, Deactivated, Removed bracket, etc.',
  `detail` varchar(255) DEFAULT NULL,
  `performed_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`audit_id`),
  KEY `idx_audit_user` (`user_id`),
  CONSTRAINT `fk_audit_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_audit_log`
--

LOCK TABLES `maintenance_audit_log` WRITE;
/*!40000 ALTER TABLE `maintenance_audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagibig_bracket`
--

DROP TABLE IF EXISTS `pagibig_bracket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagibig_bracket` (
  `bracket_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `effective_year` year(4) NOT NULL,
  `compensation_min` decimal(10,2) NOT NULL,
  `compensation_max` decimal(10,2) DEFAULT NULL,
  `employee_share` decimal(10,2) DEFAULT NULL COMMENT 'NULL = computed from rate_percent',
  `rate_percent` decimal(5,2) NOT NULL,
  PRIMARY KEY (`bracket_id`),
  UNIQUE KEY `uq_pagibig_year_min` (`effective_year`,`compensation_min`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagibig_bracket`
--

LOCK TABLES `pagibig_bracket` WRITE;
/*!40000 ALTER TABLE `pagibig_bracket` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagibig_bracket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll`
--

DROP TABLE IF EXISTS `payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll` (
  `payroll_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `firstname` varchar(50) NOT NULL,
  `middlename` varchar(50) DEFAULT NULL,
  `lastname` varchar(50) NOT NULL,
  `basic_salary` decimal(10,2) NOT NULL DEFAULT 0.00,
  `gross_pay` decimal(10,2) NOT NULL DEFAULT 0.00,
  `net_pay` decimal(10,2) NOT NULL DEFAULT 0.00,
  `benefits` decimal(10,2) NOT NULL DEFAULT 0.00,
  `total_hours_worked` decimal(5,2) DEFAULT NULL,
  `employee_rate` decimal(10,2) DEFAULT NULL,
  `total_deductions` decimal(10,2) NOT NULL DEFAULT 0.00,
  `other_deductions` decimal(10,2) NOT NULL DEFAULT 0.00,
  `sss_contribution` decimal(10,2) NOT NULL DEFAULT 0.00,
  `philhealth_contribution` decimal(10,2) NOT NULL DEFAULT 0.00,
  `pagibig_contribution` decimal(10,2) NOT NULL DEFAULT 0.00,
  `sss_loan` decimal(10,2) NOT NULL DEFAULT 0.00,
  `pagibig_loan` decimal(10,2) NOT NULL DEFAULT 0.00,
  `tax` decimal(10,2) NOT NULL DEFAULT 0.00,
  `pay_period_start` date NOT NULL,
  `pay_period_end` date NOT NULL,
  `status` enum('Open','Processing','Reviewed','Released') NOT NULL DEFAULT 'Open',
  `pay_date` date DEFAULT NULL,
  `date_generated` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`payroll_id`),
  KEY `idx_payroll_faculty` (`faculty_id`),
  KEY `idx_payroll_adminstaff` (`adminstaff_id`),
  KEY `idx_payroll_period` (`pay_period_start`,`pay_period_end`),
  CONSTRAINT `fk_payroll_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_payroll_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_payroll_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll`
--

LOCK TABLES `payroll` WRITE;
/*!40000 ALTER TABLE `payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `philhealth_bracket`
--

DROP TABLE IF EXISTS `philhealth_bracket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `philhealth_bracket` (
  `bracket_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `effective_year` year(4) NOT NULL,
  `salary_min` decimal(10,2) NOT NULL,
  `salary_max` decimal(10,2) DEFAULT NULL,
  `monthly_premium` decimal(10,2) DEFAULT NULL COMMENT 'NULL = computed from rate_percent',
  `rate_percent` decimal(5,2) NOT NULL,
  PRIMARY KEY (`bracket_id`),
  UNIQUE KEY `uq_philhealth_year_min` (`effective_year`,`salary_min`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `philhealth_bracket`
--

LOCK TABLES `philhealth_bracket` WRITE;
/*!40000 ALTER TABLE `philhealth_bracket` DISABLE KEYS */;
/*!40000 ALTER TABLE `philhealth_bracket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thirteenth_month_pay`
--

DROP TABLE IF EXISTS `thirteenth_month_pay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thirteenth_month_pay` (
  `thirteenth_month_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `faculty_id` int(10) unsigned DEFAULT NULL,
  `adminstaff_id` int(10) unsigned DEFAULT NULL,
  `annual_gross_salary` decimal(10,2) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `pay_year` year(4) DEFAULT NULL,
  `date_generated` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`thirteenth_month_id`),
  KEY `idx_13th_faculty` (`faculty_id`),
  KEY `idx_13th_adminstaff` (`adminstaff_id`),
  CONSTRAINT `fk_13th_adminstaff` FOREIGN KEY (`adminstaff_id`) REFERENCES `admin_staff` (`adminstaff_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_13th_faculty` FOREIGN KEY (`faculty_id`) REFERENCES `faculty_staff` (`faculty_id`) ON DELETE CASCADE,
  CONSTRAINT `chk_13th_emp_xor` CHECK (`faculty_id` is not null and `adminstaff_id` is null or `faculty_id` is null and `adminstaff_id` is not null)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thirteenth_month_pay`
--

LOCK TABLES `thirteenth_month_pay` WRITE;
/*!40000 ALTER TABLE `thirteenth_month_pay` DISABLE KEYS */;
/*!40000 ALTER TABLE `thirteenth_month_pay` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `first_name` varchar(50) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('System Administrator','Payroll Master','Payroll Staff') NOT NULL,
  `email` varchar(50) NOT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `uq_users_username` (`username`),
  UNIQUE KEY `uq_users_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-12 19:20:03
